#logo{
    /* height: 150px;
    width: 200px;
    size: 20%;
    margin: -1%; */
    
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border-top-color: #444444;
    position: relative;
    left: 1%;
    top: 50%;
}
.icon{
    margin: 1px;
    padding: 3px;
}
.description{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
